html {
  font-family: Roboto, 'Open Sans', Verdana, sans-serif;
}

body {
  text-align: center;
}

canvas {
  margin-top: -50px;
}

button {
  font-size: 1em;
  background-color: #3B93D6;
  border: .10em solid #718EA4;
  box-shadow: 0 0 2px 496D89;
  margin: 0 1em 0 1em;
  color: white;
  height: 2.5em;
  width: 5em;
}

.status {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.status-element {
  font-size: 1.25em;
  margin-right: 1em;
}

.space-before {
  margin-left: 1em;
}

#game-board {
  margin: 0 .5em 0 .5em;
}

.footer-bar {
}