body {
  text-align: center;
}

button {
  font-size: 1em;
  background-color: #718EA4;
  border: .10em solid #718EA4;
  box-shadow: 0 0 2px 496D89;
  margin-right: 1em;
  color: white;
  height: 2.5em;
  width: 5em;
}

.status {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.status-element {
  margin-right: 1em;
}

#game-board {
  margin: 0 0 0 0;
}

.footer-bar {
  background-color: #7FB0EA;
}