body {
  text-align: center;
}

button {
  font-size: 1.5em;
  border-radius: 10px 10px 10px 10px;
  border: .10em solid black;
}

.title-bar {
  background-color: #7FB0EA;
}

.controls-bar {
  display: flex;

}

.metrics {
  flex-flow: wrap row;
  justify-content: center;
}

#game-board {
  margin: 0 0 0 0;
}

.footer-bar {
  background-color: #7FB0EA;
}